# SQL Summary Exercise #02 [13.04.24]

Data set five:

![Alt text](http://geefrog.com/DA/Data_set_five.jpg)

***1.	Analyze the tables in the data set. For each table write its purpose, unique id column, data types and size. What do  you think are the main columns for analysis?***

To answer this question, first, I should have to reveal the column names list in each of the five certain tables by querying  INFORMATION_SCHEMA.COLUMNS:

```sql
SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'certain Table Name'

Now, we have the column names list: for revenue analysis.
 revenue analysis.

**table: DsFive_order_item_refund**

columns: order_item_refund_id, created_at, order_item_i, order_id, refund_amount_usd

**table: DsFive_order_items**

columns: order_item_id, created_at, order_id, product_id, is_primary_item, price_usd, cogs_usd

**table: DsFive_orders**

columns: order_id, created_at, website_session_id, user_id, primary_product_id, items_purchased, price_usd, cogs_usd

**table: DsFive_products**

columns: product_id, created_at, product_name

**table: DsFive_website_pageviews**

columns: website_pageview_id, created_at, website_session_id, pageview_url

**table: DsFive_website_sessions**

columns: website_session_id, created_at, user_id, is_repeat_session, utm_source, utm_campaign, utm_content, device_type, http_referer

Actually, the main columns for analysis are depending on the specific analytical questions or business objectives, but generally, the key columns across the tables are **order-related columns** such as **order_id**,

**user-related** columns such as **user_id**,

and **product-related** columns such as **product_id**.

Other important columns might include timestamp columns like **created_at** for time-based analysis, and financial columns like **price_usd** and **cogs_usd** for revenue analysis.

### Answer for each column

## DsFive_order_item_refunds

**Purpose:** Stores information about refunded order items.

**Unique ID column:** <span style="color: red;">order_item , refund_id</span>

***Data types and size:***

<span style="color: lightblue;">order_item_refund_id:</span> INT

<span style="color: lightblue;">created_at:</span> DATETIME

<span style="color: lightblue;">order_item_id:</span> INT

<span style="color: lightblue;">order_id:</span> INT

<span style="color: lightblue;">refund_amount_usd:</span> FLOAT

***Main columns for analysis:*** <span style="color: green;">order_item_refund_id, created_at, refund_amount_usd</span>

## DsFive_order_items

**Purpose:** Contains details about order items.

**Unique ID column:** <span style="color: red;">order_item_id</span>

***Data types and size:***

<span style="color: blue;">order_item_id:</span> INT

<span style="color: blue;">created_at:</span> DATETIME

<span style="color: blue;">order_id:</span> INT

<span style="color: blue;">product_id:</span> INT

<span style="color: blue;">is_primary_item:</span> BOOLEAN

<span style="color: blue;">price_usd:</span> FLOAT

<span style="color: blue;">cogs_usd:</span> FLOAT

***Main columns for analysis:*** <span style="color: green;">order_item_id, created_at, product_id, price_usd, cogs_usd</span>

## DsFive_orders

**Purpose:** Contains details about order items.

**Unique ID column:** <span style="color: red;">order_id</span>

***Data types and size:***

<span style="color: blue;">order_item_id:</span> INT

<span style="color: blue;">created_at:</span> DATETIME

<span style="color: blue;">website_session_id:</span> INT

<span style="color: blue;">user_id:</span> INT

<span style="color: blue;">primary_product_id:</span> INT

<span style="color: blue;">items_purchased:</span> INT

<span style="color: blue;">price_usd:</span> FLOAT

<span style="color: blue;">cogs_usd:</span> FLOAT

***Main columns for analysis:*** <span style="color: green;">order_id, created_at, user_id, primary_product_id, items_purchased, price_usd, cogs_usd</span>

## DsFive_products

**Purpose:** Contains details about products.

**Unique ID column:** <span style="color: red;">product_id</span>

***Data types and size:***

<span style="color: blue;">product_id:</span> INT

<span style="color: blue;">created_at:</span> DATETIME

<span style="color: blue;">product_name:</span> VARCHAR

***Main columns for analysis:*** <span style="color: green;">product_id, created_at, product_name</span>

## DsFive_website_pageviews

**Purpose:** Stores information about website page views.

**Unique ID column:** <span style="color: red;">website_pageview_id</span>

***Data types and size:***

<span style="color: lightblue;">website_pageview_id</span> INT

<span style="color: lightblue;">created_at:</span> DATETIME

<span style="color: lightblue;">website_session_id:</span> INT

<span style="color: lightblue;">pageview_url:</span> VARCHAR

***Main columns for analysis:*** <span style="color: lightgreen;">website_pageview_id, created_at, pageview_url</span>

## DsFive_website_sessions

**Purpose:** Contains details about website sessions.

**Unique ID column:** <span style="color: red;">website_session_id</span>

***Data types and size:***

<span style="color: blue;">website_session_id</span> INT

<span style="color: blue;">created_at:</span> DATETIME

<span style="color: blue;">user_id:</span> INT

<span style="color: blue;">pis_repeat_session:</span> BOOLEAN

<span style="color: blue;">utm_source:</span> VARCHAR

<span style="color: blue;">utm_campaign:</span> VARCHAR

<span style="color: blue;">device_type:</span> VARCHAR

<span style="color: blue;">http_referer:</span> VARCHAR

***Main columns for analysis:*** <span style="color: green;">website_session_id, created_at, user_id, is_repeat_session, utm_source, utm_campaign, utm_content, device_type</span>

**Data Types Explanation:**
<br>

**INT:** Stands for ***Integer***. It's a data type used to store whole numbers (positive or negative) without any decimal places.
<br>

**DATETIME:** Represents ***date*** and ***time*** values. It typically stores both the date and the time of day, accurate to the millisecond.
<br>

**FLOAT:** Stands for ***Floating-Point Number***. It's a data type used to represent numbers with decimal points. It can store both very large and very small numbers, but it might not always be precise due to the way floating-point numbers are represented in computers.
<br>

**BOOLEAN:** Represents ***logical values***. It can only hold two possible values: ***true*** or ***false***. In some systems, it's represented as 1 for true and 0 for false.
<br>

**VARCHAR:** Stands for ***Variable Character***. It's a data type used to store character strings of variable length. The length of the string can vary, up to a maximum specified length.
<br>

These data types are commonly used in databases to define the type of data that can be stored in each column of a table.

***2.	Which tables connect to each other? Which columns connect? What is the purpose of this connection? (It is recommended to create a diagram showing the connection between the tables)***

Each row in **DsFive_order_items** represents an item within an order, and the <span style="color: green;">order_id </span> links to the order details stored in **DsFive_orders**:

Based on the column names provided, it seems that several tables in the dataset are connected through foreign key relationships.
<br>
Here's a description of the connections between the tables_website_sessions.

**DsFive_order_item_refunds** and **DsFive_order_items**:

These tables are connected through the column <span style="color: green;">order_item_id</span>.

**DsFive_order_item_refunds** references **DsFive_order_items** to identify the refunded items, 
as each refunded item would correspond to an order item

**DsFive_order_items** and **DsFive_orders**:

These tables are connected through the column  <span style="color: green;">order_id</span>.

Each row in **DsFive_order_items** represents an item within an order, and the <span style="color: green;">order_id </span> links to the order details stored in **DsFive_orders**:

**DsFive_orders** and **DsFive_website_sessions**:

These tables are connected through the column  <span style="color: green;">website_session_id</span>.

The <span style="color: green;">website_session_id</span> in **DsFive_orders** the session during which the order was placed, linking the order to the website session details stored in **DsFive_website_sessions.**:

**DsFive_website_pageviews** and **DsFive_website_sessions**:

These tables are connected through the column  <span style="color: green;">website_session_id</span>.

Each page view recorded in **DsFive_website_pageviews** is associated with a session, and the <span style="color: green;">website_session_id</span> links the page views to the respective session details in **DsFive_orders**.

***Here's a diagram illustrating the connections between the tables:***

![Alt text](http://geefrog.com/DA/SQL_EX_02/SQL_Summary_exercises_pic02.JPG)

These connections allow for the retrieval of related information across different tables, facilitating more comprehensive data analysis and reporting. For example, with these connections, we can analyze order details along with website session information or track refunded items back to their original orders.

***3.	For each type of device from which the website is accessed,  which website is responsible for the most referrals that ended in an order?***

To answer this question, we need to analyze data from the tables **DsFive_website_sessions** and **DsFive_orders**. We'll first need to filter sessions 
based on the device type and then identify the referrals that resulted in an order. Here's a general outline of the steps we would take:<br>

Jo**in DsFive_website_sessi**ons wi**th DsFive_ord**ers on t**he website_session**_rders.

Filter the joined data based on the device type.
<br>

Group the data by the http_referer (referral website).
<br>

Count the number of orders for each referral website.
<br>

Identify the referral website with the highest number of orders.

***Here I provide a SQL query to illustrate the process:***

```sql
-- Assuming device type is specified as 'desktop' for this example

-- Subquery to filter sessions for desktop devices
WITH DesktopSessions AS (
    SELECT *
    FROM [dbo].[DsFive_website_sessions]
    WHERE device_type = 'desktop'
)

-- Joining filtered sessions with orders
SELECT TOP 1 ws.http_referer, COUNT(o.order_id) AS num_orders
FROM DesktopSessions ws
JOIN DsFive_orders o ON ws.website_session_id = o.website_session_id
GROUP BY ws.http_referer
ORDER BY num_orders DESC

![Alt text](http://geefrog.com/DA/SQL_EX_02/SQL_Summary_exercises_pic03.JPG)

***4. Present the amount of views of each page per date.***

To present the amount of views of each page per date, we can use a SQL query:

```sql
SELECT pageview_url,
    CONVERT(date, created_at) AS view_date,
    COUNT(*) AS page_views
FROM [dbo].[DsFive_website_pageviews]
GROUP BY pageview_url,
    CONVERT(date, created_at)
ORDER BY view_date, page_views DESC

***In this query:***

We select the `pageview_url` to identify each page, and use `CONVERT(date, created_at)` to extract the date part of the <span style="color: lightgreen;">created_at</span> column.

We count the number of occurrences of each page per date using `COUNT(*)`.

We group the results by `pageview_url` and the converted date.

Finally, we order the results by date and the number of page views in descending order.

This query will give us the number of views for each page per date.
te.

![Alt text](http://geefrog.com/DA/SQL_EX_02/SQL_Summary_exercises_pic04.JPG)

***5. What is the total amount of money paid for each product ? 
What is the average amount of money paid for products?
Solve all in the same quer***.
***

I might accomplish this using a SQL query that combines grouping and aggregation functions. 
Here's how I calculate the total amount of money paid for each product and the average amount 
of money paid for products in the same query:

```sql
SELECT product_id
    ,SUM(price_usd) AS total_amount_paid
	,AVG(price_usd) AS average_amount_paid
FROM [dbo].[DsFive_order_items]
GROUP BY product_id

![Alt text](http://geefrog.com/DA/SQL_EX_02/SQL_Summary_exercises_pic05.JPG)

***In this query:***
<p>We select <span style="color: green;">product_id</span>.</p>
<p>We calculate the total amount of money paid for each product using <span style="color: lightblue;"><code>SUM(price_usd)</code></span> and alias it as <span style="color: green;">total_amount_paid</span>.</p>
<p>We calculate the average amount of money paid for each product using <span style="color: lightblue;"><code>AVG(price_usd)</code></span> and alias it as <span style="color: green;">average_amount_paid</span>.</p>
<p>We group the results by <span style="color: green;">product_id</span>.</p>

<br>
This query will provide us with the total amount of money paid for each product as well as the average amount of money paid for products in the same result set.
<br>

<br>

***6. How many orders were placed that included products created in 2013 and how many refunds were made on each one of these products?***

***Solve all in the same query.***

To achieve this I should use a SQL query that joins the `DsFive_order_items`, `DsFive_products`, `DsFive_orders` and `DsFive_order_item_refunds` tables
<p>and filter the data based on products created in 2013.</p>

```sql
WITH Products2013 AS (
    SELECT DISTINCT oi.product_id
    FROM [dbo].[DsFive_order_items] oi
    JOIN [dbo].[DsFive_products] p ON oi.product_id = p.product_id
    WHERE YEAR(p.created_at) = 2013
)

SELECT 
    COUNT(DISTINCT o.order_id) AS orders_with_2013_products,
    oi.product_id,
    COUNT(DISTINCT oir.order_item_refund_id) AS refunds_count
FROM [dbo].[DsFive_orders] o
JOIN [dbo].[DsFive_order_items] oi ON o.order_id = oi.order_id
LEFT JOIN [dbo].[DsFive_order_item_refunds] oir ON oi.order_item_id = oir.order_item_id
JOIN Products2013 p ON oi.product_id = p.product_id
GROUP BY oi.product_id

![Alt text](http://geefrog.com/DA/SQL_EX_02/SQL_Summary_exercises_pic06.JPG)

***In this query:***
First, I create a Common Table Expression (CTE) named `Products2013` to identify the products created in 2013.  
Then, join the `DsFive_order_items` with `DsFive_products` to get the products' creation dates and filter them to include only those created in 2013.  
I count the number of distinct orders that included products created in 2013.  
I also count the number of distinct refunds made for each product that was included in orders placed in 2013.  
Finally, I group the results by <span style="color: lightgreen;">`product_id`</span>.

This query provides us with the number of orders placed that included products created in 2013 and the number of refunds made for each of these products in the same resul set.
t.
t set.
ult set.
ult set.
esult set.

***For the following query:******

***a. What is the purpose of the query?***

***b. How can the retrieval be optimized?***

```sql
select *
from
	(select sum(o.price_usd) sum_product, o.primary_product_id
	from [dbo].[DsFive_orders] o
	join [dbo].[DsFive_products] p
	on o.primary_product_id=p.product_id
	where p.product_id in(1,2,3)
	group by o.primary_product_id
	)q
where q.sum_product>300000

**a.** The purpose of the given SQL query is to retrieve data from two tables (**DsFive_orders** and **DsFive_products**), perform some calculations, and filter the results based on certain conditions.

**b.** To optimize the retrieval we should use the following steps
<br>
**Indexing:** Create indexes on columns frequently used in joins, filters, and group by operations to speed up data retrieval by allowing the database engine to quickly locate relevant rows.
<br>

**Query Rewrite:** Simplify or restructure complex queries to reduce unnecessary operations or data processing. This can involve breaking down the query into smaller parts or eliminating redundant calculations.
<br>

**Caching:** Cache frequently accessed query results to avoid redundant computations and reduce response time, especially for queries with high execution costs.
<br>

**Materialized Views:** Use materialized views to precompute and store the results of complex queries, reducing the need for repeated computations and improving query performance, especially for frequently executed queries.

![Alt text](http://geefrog.com/DA/SQL_EX_02/SQL_Summary_exercises_pic07.JPG)