# SQL Summary exercise #1

Knowledge required:
- Select & From clauses
- Filter & Sort (Where & order by clauses)
- Scalar functions
- Conversion functions
- Aggregate & analytic functions
- Union, intersect, except
- Subquery
bquery

# “Pokemon” table:

**01. Present all the pokemons with the letter R in their name.**

```sql

SELECT *
FROM [dbo].[pokemon]
WHERE Name LIKE '

[dbo].[pokemon]
%'
M [dbo].[pokemon]
M [dbo].[pokemon]

**02. Order all the pokemons by their weight in descending order.**

```sql
SELECT *
FROM [dbo].[pokemon]
ORDER BY Weight DESC

**03. Present the pokemons’ names in lowercase.**

```sql
SELECT LOWER(name) AS lowercase_name
FROM [dbo].[pokemon]

# “DsOne_orders” table:

**01. For all the orders in the “Office Supplies” category that shipped in 2019, 
    calculate the average number of days to ship.**

```sql
SELECT AVG(days_to_ship) AS avg_days_to_ship
FROM [dbo].[DsOne_orders]
WHERE category = 'Office Supplies'
AND YEAR(ship_date) = 2019

**02. For all the orders placed on Monday, calculate the average length of the products’ names.**

```sql
SELECT AVG(LEN(product_name)) AS average_product_name_length
FROM [dbo].[DsOne_orders]
WHERE DATEPART(WEEKDAY, order_date) = 2

**03. Which city has the largest total sales amount? Present the city, the sales amount, and the state.**

```sql
SELECT TOP 1 city, state, SUM(sales) AS total_sales_amount
FROM [dbo].[DsOne_orders]
WHERE sales IS NOT NULL
GROUP BY city, state
ORDER BY total_sales_amount DESC

**04. Find the state with the highest number of customers whose names include the letter "C". Then, within that state, figure out how many customers with the letter "C" in their names live in each city. Do this using only one query.**

```sql
WITH CustomersWithC AS (
    SELECT state, city,
        COUNT(DISTINCT customer_id) AS num_customers_with_c
    FROM [dbo].[DsOne_orders]
    WHERE customer_name LIKE '%C%'
    GROUP BY state, city
), 
MaxCustomersState AS (
    SELECT TOP 1 state,
        COUNT(DISTINCT customer_id) AS num_customers_with_c
    FROM [dbo].[DsOne_orders]
    WHERE customer_name LIKE '%C%'
    GROUP BY state
    ORDER BY COUNT(DISTINCT customer_id) DESC
)
SELECT c.state, c.city,
    c.num_customers_with_c
FROM CustomersWithC c
JOIN MaxCustomersState m ON c.state = m.state

# “Data_auto” tables:

**01. November table - What is the total cost of Ferrari ads placed on Sunday?**

```sql
SELECT SUM(cost) AS total_cost
FROM [dbo].[data_auto_November]
WHERE Advertiser = 'Ferrari'
AND [Day of Week] = 'Sunday'

**02. Union both of the tables (October & November) - once with “union all”,  once with “union”. 
Is there a difference between both queries? What does it mea**n?

```sql
-- Union all of the tables (October & November)
SELECT * FROM [dbo].[data_auto_October]
UNION ALL
SELECT * FROM [dbo].[data_auto_November]

-- Union of the tables (October & November)
SELECT * FROM [dbo].[data_auto_October]
UNION
SELECT * FROM [dbo].[data_auto_November]

The difference between the two queries lies in how they handle duplicate rows. 
Using UNION removes duplicate rows, while UNION ALL includes all rows, even if they are duplicates.

**03. Without performing a query - Using the conclusions from section 2, 
    if we perform “intersect” between the 2 tables, what will be the result?**

From the definitions of UNION, UNION ALL, and INTERSECT, I can draw the following conclusions:
Union (UNION):
Combines the results of multiple SELECT statements. Removes duplicate rows from the result set.
Produces a result set containing distinct rows only. Useful when you want to merge data sets and remove duplicates.
Union All (UNION ALL):
Combines the results of multiple SELECT statements. Includes all rows from the result sets, even if they are duplicates. Does not perform any duplicate removal. Useful when you want to combine data sets without eliminating duplicates.
Intersect (INTERSECT):
Returns the intersection of the results of two or more SELECT statements. Only includes rows that appear in all result sets. Returns an empty result set if there are no common rows. Useful when you want to find common elements between datasets. These conclusions highlight the differences in behavior between these set operators and provide insights into  when to use each one based on the desired outcome for your query. Understanding these distinctions allows  for more precise and effective manipulation of data in SQL queries.